.title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  position: absolute;
  z-index: 1;
  color: var(--secondary-color);
  animation: opc 2s;
  margin: 0;
}

@keyframes opc {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
