.title {
  font-family: 'Montserrat' sans-serif;
  font-weight: 900;
  font-size: 3rem;
  /* position: absolute; */
  z-index: 1;
  color: var(--secondary-color);
  animation: opc 2s;
  margin: 0;
}

.container_gral {
  position: relative;
  width: 100%;
  height: 89vh;
  object-fit: cover
}
.container_gral::before {
 content: "";
 width:100%;
 height:100%;
 position:absolute;
 top: 0;
 right: 0;
 background: linear-gradient(to left,rgba(255,255,255,0),rgba(5, 9, 20,.7));
}

.btn_banner {
  font-weight: 700;
  color: var(--secondary-color);
  background-color: transparent;
  border: solid 2px;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  margin-right: 20px;
  animation: opc 2s;
  transition: all .5s;
}

.btn_banner:hover {
  transform: scale(.9);
  color: #000000cc;
  background-color: var(--secondary-color);
  border: solid 2px var(--secondary-color);

}

.btn_banner2 {
  font-weight: 700;
  color: #000000cc;
  background-color: var(--secondary-color);
  border: solid 2px var(--secondary-color);
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  margin-right: 20px;
  animation: opc 2s;
  transition: all .5s;
}

.btn_banner2:hover {
  transform: scale(.9);
  color: var(--secondary-color);
  background-color: transparent;
  border: solid 2px;


}

.container1 {
  width: 50%;
}

.container2 {
  padding: 15px;
  width: 80%;
}


@keyframes opc {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 850px) {
  .container1 {
    width: 100%;
  }

  .container2 {
    padding: 15px;
    width: 50%;
  }
  .container_gral::before {
    content: "";
    width:100%;
    height:100%;
    background:linear-gradient(to left,rgba(255,255,255,0),rgba(5, 9, 20,.7));
   }
   /* .container_gral{
    filter: opacity(15%);
   } */
}

@media only screen and (max-width: 740px) {

  .container2 {
    padding: 15px;
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {

  .container2 {
    padding: 15px;
    width: 100%;
  }
  .btn_banner2{
    font-size:11px;
   }
   .btn_banner{
    font-size:11px;
   }
}