.title {
  color: var(--primary-color);
  text-transform: uppercase;
}

.close {
  background-color: var(--secondary-color);
}

.modal {
  width: 100vh;
  background-color: var(--bg-color);
  padding:30px;
}
.modal2 {
  width: 100%;
  background-color: var(--bg-color);
  padding:30px;
}
.label_edit{
  color: var(--secondary-color);
}

.tab-nav-link {
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.active {
  border: 1px solid #000000;
  background-color: var(--primary-color);
}

.container_photos{
  min-height: 300px;
}