.box{
    border: 2px solid var(--primary-color);
  }
  
.title{
    color: var(--secondary-color);
}

.buttonMP{
  box-sizing: border-box;
  width: auto;
  -webkit-font-smoothing: antialiased;
  padding: 0 24px;
  height: 38px;
  background-color: #009ee3;
  border-color: transparent;
  color: #fff;
  border-radius: 6px;
  font-family: Proxima Nova,Helvetica Neue,Helvetica,Arial,sans-serif;
}